#header {
    background-image: url(../images/pc/transiotion-support/banner.png);
    height: 340px;
}

section {
/*    width: 80%;*/
    margin: auto;
    padding: 30px 150px 10px 150px;
}

.description-title{
    text-align: center;
    color: #60bad5;
}

.section-header{
    color: #60bad5;
    border-bottom: #bababa 1px solid;
}

.section-header.no-line{
    color: #60bad5;
    border:none;
}

.signature {
    text-align: right;
}

.ceo-photo{
    float: right;
}

.for-background {
    background: #edf8ff;
    clear:right;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td
{
    background: #fff;
    border: #bababa 1px solid;
    padding: 10px 30px;
}

table th {
    background: #7fbde1;
    color: white;
    width: 20%;
}

table td ul
{
    padding-left: 20px;
}

.attachements {
    margin: auto;
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.attached-document:first-child {
    margin-right: 20px;
/*    background: #ecf3f6;
    border: 2px solid #d5d3d3;
    padding: 20px 60px;
    border-radius: 50px;*/
}