body {
    margin: 0px;
    color: #3a3a3a;
}

nav {
    display: none;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 20px;
}

header .logo {
    display: none;
}

header .logo img {
    width:300px;
}

.logo.mobile {
    background-color: #77bee3;
    background-image: url(../images/mobile/common/top-logo.png);
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 260px;
    position: relative;
}


header .contact {
    display: none;
}

.top-decoration-area {
    display: flex;
}

.top-decoration {
    width: 100%;
    height: 5px;
}

.top-decoration.orange{
    background: #ebac49;
}

.top-decoration.blue{
    background-color: #81d1ff;
}

#header {
    width: 100%;
    height: 220px;
    background-image: url(../images/mobile/index/header_.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-menu-icon {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.top-menu-icon.open:after {
    content: "✕";
    font-size: 34px;
    font-weight: bold;
    color: white;
}

.top-menu-icon ul {
    padding: 0px;
    margin: 0px;
}

.top-menu-icon.open ul {
    display: none;
}

.top-menu-icon ul li {
    list-style: none;
    height: 6px;
}

.top-menu-icon ul li.line {
    background-color: white;
    border-radius: 10px;
}

.top-menu.mobile {
    background-color: #77bee3;
    height: 0px;
    overflow: hidden;
    transition: height 500ms 0s ease-in-out;
}

.top-menu.mobile.open {
    height: 400px;
}

.top-menu.mobile ul {
    padding: 0px;
    margin: 0px;
}

.top-menu.mobile ul li{
    text-align: center;
    color: white;
    font-size: 18px;
    list-style: none;
    padding: 12px;
}

.top-menu.mobile ul li.selected {
    background-color: #58a1c7;
}

.top-menu.mobile ul li:hover {
    background-color: #58a1c7;
    cursor: pointer;
}

.top-menu.mobile ul a {
    text-decoration: none;
    color: white;
}




.top-menu > li {
    color: #333;
    font-size: 16px;
    font-weight: bolder;
    list-style: none;
}

.top-menu > li.separater {
    color: #d2d2d2;
    border-left: 1px solid #a9a9a9;
    height: 40px;
}

.top-menu > li > a {
    text-decoration: none;
    color: #545454;
}

.top-menu > li > a:hover {
    color: #60bad5;
}
.top-menu > li > a:visited {
    color: #545454;
}

.top-menu > li > a.selected {
    text-decoration: none;
    color: #60bad5;
}

.message-line {
    text-align: center;
}

.message-line > .message:not(.mobile) {
    display: none;
}

.message-line > .message {
    font-size: 26px;
    color: #fff;
    font-weight: bold;
}

.menu:not(.mobile) {
    display: none;
}

.menu.mobile {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.menu.mobile a {
    width: 100%;
}

.menu-link {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 10px;
}

.menu-link .ikou {
    width: 100%;
    height: 80px;
    background-image: url(../images/mobile/index/top-ikou-logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-link .keizoku {
    width: 100%;
    height: 80px;
    background-image: url(../images/mobile/index/top-keizoku-logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-link .ikou-link {
    width: 80%;
    height: 80px;
    background-image: url(../images/mobile/index/sugunidemo-btn.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-link .keizoku-link {
    width: 80%;
    height: 80px;
    background-image: url(../images/mobile/index/itukaha-btn.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#scrollDown {
    display: none;
}

#info {
    background-color: #77bee3;
    display: flex;
    color: #fff;
    padding: 30px;
    font-size: 12px;
    flex-flow: column;
    align-items: center;
}

.info-list table tbody tr{
    display: flex;
    flex-flow: column;
}

.info-caption {
    margin-right: 30px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
}

.info-date {
    margin-right: 30px;
    display: block;
    font-size: 14px;
}

.info-message {
    font-size: 14px;
}

section {
    padding: 30px 30px;
}

section > h2 {
    color: #f5bc51;
}

section > h2.bordered:not(.mobile) {
    display: none;
    border-bottom: #bababa 1px solid;
}

section > h2.bordered.mobile {
    text-align: center;
    font-size: 20px;
    border-bottom: #bababa 1px solid;
}

section > p {
    font-size: 14px;
}

.topics {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.topics .topic-row {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.topics .topic-row .topic {
    flex-basis: 30%;
    margin: 10px 10px;
    border-radius: 10px;
    text-align: center;
}

.topics .topic-row .topic img{
    width: 100%;
}

#gallery {
    display: none;
}

#gallery > img {
    width: 33.3%;
    height: 33.3%;
}

#facebook:not(.mobile) {
    display: none;
}

#facebook.mobile a {
    text-decoration: none;
    color: white;
}
#facebook.mobile .facebook-icon {
    width: 30px;
}

#facebook.mobile .facebook-label {
    width: 260px;
    margin-left: 10px;
}

#facebook.mobile .facebook-deco {
    width: 30px;
}
#facebook.mobile .facebook-link {
    background: #b5b5b6;
    padding: 10px 25px;
    color: white;
    display: flex;
    align-items: center;
}

#facebook .facebook-block .facebook-logo {
    width: 300px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#facebook .facebook-block .facebook-logo.takinou {
    display: none;
}

#facebook .facebook-block .facebook-logo.cafe-berry {
    display: none;
}

#interval {
    display: none;
}

#scrollTop {
    display: none;
    flex-direction: row-reverse;
    padding: 0 20px;
    position: relative;
}

#scrollTop img {
    position: absolute;
    right: 20px;
    bottom: -50px;
}

.scroll-top-button {
    width: 50px;
    height: 50px;
    border: 2px solid #5cb1d8;
    border-radius: 30px;
}

.town img{
    width: 100%;
    display: block;
/*    height: 270px;
    background-image: url(../images/mobile/index/town.png);
    background-repeat: no-repeat;
    background-size: contain;*/
}

.map {
    width: 100%;
    height: 400px;
    background-image: url(../images/mobile/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -100px;
}

.map.for-index {
    display: none;
}


.header-wave-bg {
    height: 60px;
    background-image: url(../images/mobile/common/header-background-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -60px;
}

.header-wave-bg.white{
    background-image: none;
}

.header-wave-bg.blue{
    background-image: none;
}

.footer-wave-bg {
    display: none;
}

footer {
    background-color: #78bfe4;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 16px;
}
@media screen and (max-width: 768px){
    footer {
        background-color: #78bfe4;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        font-size: 16px;
        min-height: 200px;
        padding: 20px;
    }
}

footer table {
    width: 100%;
    margin-top: 10px;
}

footer .logo img{
    width: 250px;
}

footer  > nav {
    width: 800px;
}

.bottom-menu {
    display: flex;
    padding: 5px 30px;
    justify-content: space-around;
    align-items: center;
}

.bottom-menu > li {
    list-style: none;
}

.bottom-menu > li.separater {
    border-left: 1px solid #ffffff;
    height: 30px;
}

.bottom-menu > li > a {
    text-decoration: none;
    color: #fff;
}

.bottom-menu > li > a:hover,
.bottom-menu > li > a:visited,
{
    color: #fff;
}